{{#if true}}
<div class="container">
  <div id="logo-img">

  </div>

  <div class="options-container">
    <a href="/views/auth/login.hbs" id="option-container-login">Login</a>
    <a href="/auth/google"><button id="option-container-google"> Continuar con Google</button></a>
    <a href="/views/auth/signup.hbs" id="option-container-signup">Registro</a>
  </div>
</div>
{{/if}}