{{#if true}}
  <div class="container">
    <div id="logo-img">


  </div>
  <h2>Heartsound</h2>

  <div class="options-container">
    <a href="/views/auth/login" id="option-container-login">Login</a>
    <a href="/auth/google" id="option-container-google"> Continuar con Google</a>
    <a href="/views/auth/signup" id="option-container-signup">Singup</a>
  </div>
</div>
{{/if}}
